@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: hsl(29, 53%, 90%);
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

#container {
    width: 45%;
    background-color: white;
    color: hsl(30, 10%, 34%);
    margin: 5% auto;
    border-radius: 15px;
    padding: 50px;
}

.img {
    width: 100%;
    border-radius: 25px;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 700;
    font-size: 2.6em;
    color: hsl(24, 5%, 18%); 
    margin-bottom: 15px; 
}

p {
    font-size: 16px;
    margin-bottom: 1.5em;   
    line-height: 1.5em;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 12px;
    padding: 0 2em;
    line-height: 2em;
    display: flex;
    flex-direction: column;
}

.preparation h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: hsl(332, 51%, 32%);
    margin-top: 20px;
    margin-bottom: 0;
}

ul, ol {
    padding-left: 20px;
    line-height: 2em;
    /* letter-spacing: 2px; */
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 500;   
    color: hsl(14, 45%, 36%);
    font-size: 30px;
}

li {
    padding-left: 20px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.nutri {
    text-align: left;
    width: 50%;
}

.valor {
    text-align: left;
    width: 50%
}

footer  p {
    /* background-color: #263138; */
    color: #263138;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}